
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Blog Post</title>
    <style>
        /* Internal CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }

        .navbar {
            background-color: #444;
            padding: 10px;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
        }

        .back-button {
            margin-bottom: 20px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <header>
        <h1>Your Blog</h1>
    </header>

    <div class="navbar" style="text-align:center ;">
        <a href="/">Home</a>
    </div>

    <div class="container">
        <a class="back-button" href="/">Back to Blog List</a>
        <h1> <%- blog[0].title %> </h1>
        <h2> <%- blog[0].subTitle %> </h2>
        <p>
            <%- blog[0].description %>
        </p>
        <button><a href="/delete/<%- blog[0].id %>">Delete</a></button>
      
    </div>
</body>
</html>
